@model Nutritionist.Web.Models.ApiModelsCombines.NutritionistContDetailModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int userIdSession = -1, nutritionistIdSession = -1;
    if (Context.Session.GetInt32("UserId").HasValue)
    {
        userIdSession = Context.Session.GetInt32("UserId").Value;
    }
    if (Context.Session.GetInt32("NutId").HasValue)
    {
        nutritionistIdSession = Context.Session.GetInt32("NutId").Value;
    }
}
@functions{

    String ArrayToBase64(byte[] arr)
    {
        var res = Convert.ToBase64String(arr);
        return res;
    }
}
<section class="testimonials1 cid-smbkrMBl7x" id="testimonials1-t">



    <div class="container">

        <div class="row align-items-center">
            <div class="col-12 col-md-4">
                <div class="image-wrapper">
                    @if (@Model.nutritionist.ProfileImage != null)
                    {
                        <img src="data:image/jpg;base64, @ArrayToBase64(Model.nutritionist.ProfileImage)" style="width:300px;height:300px">
                    }
                </div>
            </div>
            <div class="col-12 col-md">
                <center class="text-wrapper">
                    <p class="name mbr-fonts-style mb-1 display-2" style="color:green">
                        <strong>@Model.nutritionist.User.ToString()</strong>
                    </p>
                    <p class="position mbr-fonts-style display-5 pt-4">
                        <strong>@Model.nutritionist.Departman</strong>
                    </p>
                    <p class="mbr-text mbr-fonts-style mb-4 display-7">@Model.nutritionist.ShortIntroduce</p>
                </center>
            </div>
        </div>
    </div>
</section>

<section class="content6 cid-smbobpfXlF" id="content6-14">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <hr class="line">
                <pre class="mbr-text align-center mbr-fonts-style my-4 display-7" style="white-space:pre-wrap">
                <em>
                        @Html.Raw(Model.nutritionist.Introduce)
                    </em>
                </pre>
                <hr class="line">
            </div>
        </div>
    </div>
</section>

<section class="contacts2 cid-smbkxOO1Bv" id="contacts2-v">
    <!---->


    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Bağlantılar</strong>
            </h3>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Telefon</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:+12345678910" class="text-primary">@Model.nutritionist.PhoneNumber</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-link mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Linked In</strong>
                        </h6>
                        @if (Model.nutritionist.LinkedinLink != null)
                        {
                            <p class="mbr-text mbr-fonts-style display-7">
                                <a href="mailto:info@site.com" class="text-primary">@Model.nutritionist.LinkedinLink</a>
                            </p>
                        }
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Adres</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            @Model.nutritionist.Address
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-bulleted-list mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Çalışma Saatleri</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            @Model.nutritionist.WorkingHours
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.nutritionist.InstagramLink != null || Model.nutritionist.YoutubeLink != null || Model.nutritionist.FacebookLink != null)
{
    <section class="share3 cid-smblC300qn" id="share3-y">

        <div class="container">
            <div class="media-container-row">
                <div class="col-12">
                    <h3 class="mbr-section-title align-center mb-3 mbr-fonts-style display-2">
                        <strong>Takipte Kal!</strong>
                    </h3>
                    <div class="social-list align-center">
                        @if (Model.nutritionist.InstagramLink != null)
                        {
                            <a class="iconfont-wrapper bg-instagram m-2 " target="_blank" href=@Model.nutritionist.InstagramLink>
                                <span class="socicon-instagram socicon"></span>
                            </a>
                        }
                        @if (Model.nutritionist.FacebookLink != null)
                        {
                            <a class="iconfont-wrapper bg-facebook m-2 " target="_blank" href=@Model.nutritionist.FacebookLink>
                                <span class="socicon-facebook socicon"></span>
                            </a>
                        }
                        @if (Model.nutritionist.YoutubeLink != null)
                        {
                            <a class="iconfont-wrapper bg-youtube m-1 " target="_blank" href=@Model.nutritionist.YoutubeLink>
                                <span class="socicon-youtube socicon"></span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@if (Model.articles != null && Model.articles.Count > 0)
{
    <section class="gallery3 cid-smamM4w0M4" id="gallery3-9">


        <div class="container-fluid">
            <div class="mbr-section-head">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Yayımladığı Makaleler</strong></h4>

            </div>

            @Html.Partial("~/Views/Shared/ArticleListPartial.cshtml", Model.articles);

        </div>
    </section>
}

@if (userIdSession != -1 && nutritionistIdSession != Model.nutritionist.Id)
{
    <section class="form5 cid-smbjZuFWDN" id="form5-q">


        <div class="container" style="background-color: rgb(240, 240, 240);">
            <div class="mbr-section-head  p-4">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>Yorumunuz Ekleyin</strong>
                </h3>

            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8 mx-auto mbr-form">
                    <form asp-controller="Nutritionist" asp-action="AddComment" method="POST" class="mbr-form form-with-styler mx-auto" asp-route-nutritionistId=@Model.nutritionist.Id.ToString()>
                        <p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
                            Uygunsuz bir yorumdan dolayı doğacak olan tüm sorumluklar size aittir.
                        </p>
                        <div class="col-12 form-group">
                            <textarea name="commentContent" id="commentContent" placeholder="Message" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-auto mbr-section-btn align-center pb-4 submit_btn_show_hide">
                            <button type="submit" class="btn btn-primary display-4">Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
}




@if (Model.comments != null && Model.comments.Count > 0)
{
    <section class="features9 cid-smbnLOvdds" id="features10-13">
        <!---->


        <div class="container">
            <div class="mbr-section-head">
                <h3 class="mbr-section-title mbr-fonts-style mb-0 display-2">
                    <strong>Yorumlar</strong>
                </h3>

            </div>
            <div class="row mt-4">
                @foreach (var comment in Model.comments)
                {
                    <div class="card col-12">
                        <div class="card-wrapper">
                            <div class="top-line row">
                                <div class="col">
                                    <h4 class="card-title mbr-fonts-style display-5"><strong>@comment.User.ToString()</strong></h4>
                                </div>
                                <div class="col-auto">
                                    <i>@comment.UpdateDate.Date.ToString("dd MMMM yyyy")</i>
                                </div>
                            </div>
                            <div class="bottom-line">
                                <p class="mbr-text mbr-fonts-style display-7">
                                    @comment.CommentContent
                                </p>
                            </div>
                            @if (userIdSession == comment.UserId)
                            {
                                <div class=" " style="position: absolute; bottom: 0;right: 0;">
                                    <a asp-controller="Nutritionist" asp-action="CommentDelete" asp-route-id=@comment.Id.ToString() 
                                       class="btn btn-danger" onclick="return confirm('Yorumunuzu kaldırmak istediginden emin misin ?',);">Yorumu Kaldır</a>

                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
<script src="~/assets/web/assets/jquery/jquery.min.js"></script>
<script>
    $('#commentContent').keyup(function () {

        // If value is not empty
        if ($(this).val().length == 0) {
            // Hide the element
            $('.submit_btn_show_hide').hide();
        } else {
            // Otherwise show it
            $('.submit_btn_show_hide').show();
        }
    }).keyup();

</script>