@model Nutritionist.Web.Models.ApiModelsCombines.NutritionistContDetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions{

    String ArrayToBase64(byte[] arr)
    {
        var res = Convert.ToBase64String(arr);
        return res;
    }
}
<section class="testimonials1 cid-smbkrMBl7x" id="testimonials1-t">



    <div class="container">

        <div class="row align-items-center">
            <div class="col-12 col-md-4">
                <div class="image-wrapper">
                    @if (@Model.nutritionist.ProfileImage != null)
                    {
                        <img src="data:image/jpg;base64, @ArrayToBase64(Model.nutritionist.ProfileImage)" style="width:300px;height:300px">
                    }
                </div>
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <p class="mbr-text mbr-fonts-style mb-4 display-7">@Model.nutritionist.ShortIntroduce</p>
                    <p class="name mbr-fonts-style mb-1 display-4">
                        <strong>@Model.nutritionist.User.ToString()</strong>
                    </p>
                    <p class="position mbr-fonts-style display-4">
                        <strong>@Model.nutritionist.Departman</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content6 cid-smbobpfXlF" id="content6-14">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <hr class="line">
                <pre class="mbr-text align-center mbr-fonts-style my-4 display-7" style="white-space:pre-wrap" >
                    <em>
                        @Html.Raw(Model.nutritionist.Introduce)
                    </em>
                </pre>
                <hr class="line">
            </div>
        </div>
    </div>
</section>

<section class="contacts2 cid-smbkxOO1Bv" id="contacts2-v">
    <!---->


    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Bağlantılar</strong>
            </h3>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Telefon</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:+12345678910" class="text-primary">@Model.nutritionist.PhoneNumber</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-link mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Linked In</strong>
                        </h6>
                        @if (Model.nutritionist.LinkedinLink != null)
                        {
                            <p class="mbr-text mbr-fonts-style display-7">
                                <a href="mailto:info@site.com" class="text-primary">@Model.nutritionist.LinkedinLink</a>
                            </p>
                        }
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Adres</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            4100 Ross Street, Okawville, IL
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-bulleted-list mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Çalışma Saatleri</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            @Model.nutritionist.WorkingHours
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="share3 cid-smblC300qn" id="share3-y">

    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-3 mbr-fonts-style display-2">
                    <strong>Takipte Kal!</strong>
                </h3>
                <div class="social-list align-center">
                    @if (Model.nutritionist.InstagramLink != null)
                    {
                        <a class="iconfont-wrapper bg-instagram m-2 " target="_blank" href=@Model.nutritionist.InstagramLink>
                            <span class="socicon-instagram socicon"></span>
                        </a>
                    }
                    @if (Model.nutritionist.FacebookLink != null)
                    {
                        <a class="iconfont-wrapper bg-facebook m-2 " target="_blank" href=@Model.nutritionist.FacebookLink>
                            <span class="socicon-facebook socicon"></span>
                        </a>
                    }
                    @if (Model.nutritionist.YoutubeLink != null)
                    {
                        <a class="iconfont-wrapper bg-youtube m-1 " target="_blank" href=@Model.nutritionist.YoutubeLink>
                            <span class="socicon-youtube socicon"></span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery3 cid-smamM4w0M4" id="gallery3-9">


    <div class="container-fluid">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Yayımladığı Makaleler</strong></h4>

        </div>

        @Html.Partial("~/Views/Shared/ArticleListPartial.cshtml", Model.articles);

    </div>
</section>

<section class="features9 cid-smbnLOvdds" id="features10-13">
    <!---->


    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style mb-0 display-2">
                <strong>Yorumlar</strong>
            </h3>

        </div>
        @foreach (var comment in Model.comments)
        {
            <div class="row mt-4">
                <div class="card col-12">
                    <div class="card-wrapper">
                        <div class="top-line row">
                            <div class="col">
                                <h4 class="card-title mbr-fonts-style display-5"><strong>@comment.User.ToString()</strong></h4>
                            </div>

                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style display-7">
                                @comment.CommentContent
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>